<div class="body" style="padding-top: 70px;">
<div class="container">

<div class="row">
 	<div class="col-lg-3" style="background-color: white">
 		<h2>User info</h2>
<%= attachment_image_tag @user, :image, :fill, 150, 150, format: 'jpeg' %>
 		<table class="table">

 			<tbody>
 				 <tr>
 					<td>name</td>
 					<td><%= @user.name%></td>
 				</tr>
 				 <tr>
 					<td>Introduction</td>
 					<td><%= @user.introduction %></td>
 				 </tr>
 			</tbody>
 		</table>
	<div class="row">
		<a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench"></a>
</div>

<h1>New book</h1>

<%= form_for(book) do |f| %>

  <strong>Title</strong><br>
  <%= f.text_field :title , class:"book-title"%><br>

  <strong>Opinion</strong><br>
  <%= f.text_area :opinion, class:"book-body"%>
  <br>
  <%= f.submit 'Create Book', class: "btn btn-primary" %>

<% end %>

</div>